################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/LyfoesSolver/bin/Debug/netcoreapp3.1
/src/LyfoesSolver/obj
/src/LyfoesSolver.Application/bin/Debug/netcoreapp3.1
/src/LyfoesSolver.Application/obj/Debug/netcoreapp3.1
/src/LyfoesSolver.Application/obj
/.vs
