################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/LyfoesSolver/bin
/src/LyfoesSolver/obj
/src/LyfoesSolver.Application/bin
/src/LyfoesSolver.Application/obj
/.vs
